.btn-group ul.dropdown-menu li:HOVER ul {
  display:block; 
  position:absolute; 
  left:100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.btn-group ul.dropdown-menu ul {
  display: none;
  float:right;
  position: relative;
  top: auto;
  margin-top: -30px;
}

.dropdown-menu > li > a{
  font-size: 14px;
}

.gridForm {
	border-spacing: 10px !important;
	width: 90%;
	text-align: left;
}

.itemFormE{
	padding: 3;
	text-align: left;
}

.itemFormD{
	padding: 3;
	text-align: right;
}

td, th {
	padding: 5px !important;
}

.conteudoCtrBody{
	width: 15%;
	vertical-align: top;
	padding-left: 5px !important;
	// position: fixed;
	// top:25px;
} 

.conteudoBody{
	padding: 5px !important;
	vertical-align: top;
	position:static;
	left:50%;
}

.list-group.panel > .list-group-item {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px
}

.list-group-submenu {
  margin-left:20px;
}